html, body
{
    height: 100%;
}

body
{
    margin: 0;
    padding: 0;
    background: #FFFFFF;
    font-family: 'Varela' , sans-serif;
    font-size: 11pt;
    font-weight: 300;
    color: #656565;
}

h1, h2, h3
{
    margin: 0;
    padding: 0;
    font-weight: 700;
    color: #2B3F48;
}

.hr
{
    color: #3ADF00;
    width: 95%;
    text-align: center;
}

p, ol, ul
{
    margin-top: 0;
}

ol, ul
{
    padding: 0;
    list-style: none;
}

ul.actions
{
    text-align: center;
}

p
{
    line-height: 180%;
}

a
{
    color: #0000FF;
}

a:hover
{
    text-decoration: none;
}

.container
{
    overflow: hidden;
    margin: 0 auto;
    width: 1000px;
}

/* Estilo Menú */
.Menu ul
{
    background: white;
}

.Menu ul li
{
    background: white url(~/images/menu_bg.gif) repeat-x;
    text-align: center; /* set width if needed.*/
    width: 175px;
}

.Menu ul li a
{
    color: black;
    padding: 4px 2px 4px;
    padding-left: 8px !important;
    border: 1px solid #3ADF00;
}

.Menu ul li a:hover
{
    background-image: none;
}

.Menu ul li a:hover
{
    color: white;
    background-color: #00bfff;
}

.Menu ul li a
{
    color: Black;
}

/* Tabs */
.tablaTabs
{
    border: 1px solid;
    border-radius: 2px 35px 0 0;
    padding-right: 20px;
}

.tablaTabsActivo:hover
{
    background: #e4f5fc; /* Old browsers */
    background: -moz-linear-gradient(top,  #e4f5fc 0, #9fc1ce 20%, #5199ba 35%, #237ac6 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0,#e4f5fc), color-stop(20%,#9fc1ce), color-stop(35%,#5199ba), color-stop(100%,#237ac6)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #e4f5fc 0,#9fc1ce 20%,#5199ba 35%,#237ac6 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #e4f5fc 0,#9fc1ce 20%,#5199ba 35%,#237ac6 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #e4f5fc 0,#9fc1ce 20%,#5199ba 35%,#237ac6 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #e4f5fc 0,#9fc1ce 20%,#5199ba 35%,#237ac6 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4f5fc', endColorstr='#237ac6',GradientType=0 ); /* IE6-9 */
}

.tablaTabsActivo
{
    background: #e4f5fc; /* Old browsers */ /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: -moz-linear-gradient(top,  #e4f5fc 0, #bfe8f9 20%, #9fd8ef 35%, #2ab0ed 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0,#e4f5fc), color-stop(20%,#bfe8f9), color-stop(35%,#9fd8ef), color-stop(100%,#2ab0ed)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #e4f5fc 0,#bfe8f9 20%,#9fd8ef 35%,#2ab0ed 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #e4f5fc 0,#bfe8f9 20%,#9fd8ef 35%,#2ab0ed 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #e4f5fc 0,#bfe8f9 20%,#9fd8ef 35%,#2ab0ed 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #e4f5fc 0,#bfe8f9 20%,#9fd8ef 35%,#2ab0ed 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4f5fc', endColorstr='#2ab0ed',GradientType=0 ); /* IE6-8 */
}

.tablaTabsInactivo
{
    background: #f9f9f9; /* Old browsers */
    background: -moz-linear-gradient(top,  #f9f9f9 0, #edf4f7 20%, #dee9ed 35%, #d5e4ea 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0,#f9f9f9), color-stop(20%,#edf4f7), color-stop(35%,#dee9ed), color-stop(100%,#d5e4ea)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #f9f9f9 0,#edf4f7 20%,#dee9ed 35%,#d5e4ea 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #f9f9f9 0,#edf4f7 20%,#dee9ed 35%,#d5e4ea 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #f9f9f9 0,#edf4f7 20%,#dee9ed 35%,#d5e4ea 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #f9f9f9 0,#edf4f7 20%,#dee9ed 35%,#d5e4ea 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#d5e4ea',GradientType=0 ); /* IE6-9 */
}

.tablaTabsCampo
{
    border: 1px solid;
    border-radius: 0 10px 10px 10px;
    padding: 15px 5px 15px 5px;
}

/* Grillas */
.grillaEncab
{
    background: #237ac6;
}

/* Otros estilos */

#tblInicio
{
    margin-left: 30px;
}

.copyright
{
    text-align: center;
    color: #01A9DB;
    margin-top: 20px;
    margin-bottom: 20px;
}

.subtitulo
{
    font-weight: bold;
    font-size: larger;
    color: #1e90ff;
    padding: 20px 0 20px 0;
}
